<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/learning">Learning Strategies</a></li>
	        		<li><a href="/writing">Writing Help</a></li>
	        		<li><a href="/citation">Citation Practices</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<ul> <a href="https://canvas.princeton.edu/">Canvas</a>
				</ul>
			</footer>
		</body>
	</html>
